<header class="twelve wide column">
    <nav class="ui secondary pointing menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Champs
      </a>
      <div class="right menu">
        <a class="ui item">
          Logout
        </a>
      </div>
    </nav>
</header>

<section class="ui container">
    <article class="ui raised segment">
        <h2 class="ui header">
          Guess That Champ!
          <div class="sub header">Click Random Quote to hear a quote from a league of legends character</div>
        </h2>

        <div id="message" class="ui blue floating message">
        </div>
        <button id="btnRandomize" class="ui blue button">Random Quote</button>
    </article>
</section>

<footer>
    <nav class="ui inverted menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
  </nav>
</footer>
